$motherland: motherlandregular;

.ship-app {
	height: 100%;
}

.site-header {
	margin: 0;

	box-sizing: border-box;

	height: 129px;
	padding: 60px 10px 47px 10px;

	.logo {
		font: 4rem $motherland;
		color: #FF5555;

		position: fixed;
		top: 10px;
		left: 10px;
	}
}

.side-bar {
	height: 100%;

	background-color: rgb(230, 230, 230);
}

.ships-box {
	position: absolute;
	top: 129px;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
	height: auto;

	padding: 0;
	background-color: rgb(250, 250, 250);
}